:javascript
  $(document).on('turbolinks:load', function() {
  $('.bank-info, .submit-button, .add-button').hide();
  $('.next-button').on('click', function(){
    $('.basic_info').hide();
    $('.bank-info, .submit-button, .add-button').show();
    });
  });

.board.large.color-none
  %h1.title　投稿するにはプロフィールの記入が必須です
  .board.middle.color-none
    = render 'form_edit', seller: @seller
