:javascript
  $(document).on('turbolinks:load', function() {
    $('.individual_info, .bank-info, .submit-button, .add-button, .previous-button1').hide();
    $('.next-button').on('click', function(){
      $('.basic_info').hide();
      $('.individual_info, .submit-button, .previous-button1').show();
    });
    $('.previous-button1').on('click', function(){
      $('.individual_info, .previous-button1, .submit-button, .previous-button1').hide();
      $('.basic_info').show();
    })
  });

.board.large.color-none
  %h1.title 投稿するにはプロフィールの記入が必須です
  .board.middle.color-none
    = render 'form_edit', seller: @seller
