.board.large.color-none
  %h1.title　投稿するにはプロフィールの記入が必須です
  .board.middle.color-none
    = render 'form', seller: @seller

/ = form_for @seller do |f|
/   - if @seller.errors.any?
/     #error_explanation
/       %h3
/         = pluralize(@seller.errors.count, "error")
/         prohibited this ticket from being saved:
/       %ul
/         - @seller.errors.full_messages.each do |message|
/           %li= message

/   %div
/     = f.label :official_name
/     = f.text_field :official_name
/     = hidden_field_tag :user_id, current_user.id

/   %div
/     = f.label :address
/     = f.text_field :address

/   %div
/     = f.label :phone_number
/     = f.text_field :phone_number

/   %div
/     = f.submit "登録"
