%h1 トーク一覧
%p 仮置き

- @groups.each do |group|
  = link_to talk_path(group) do
    %div
    - group.users.each do |user|
      - if user.name != current_user.name
        %div
        トークルームNo : #{group.id}
        %div
        = user.name
      / = group.messages.first
