%index_footer
  .middle
    %p よくある質問
    .line-bold
    %p 運営会社について
    .line-bold
    %p 利用規約
    .line-bold
    %p プライバシーポリシー
    .line-bold
    %p キャンセルポリシー
    .line-bold
    %p お問い合わせ
    .line-bold
    %p 衛生ガイド
  .index_bottom
    %p © Mogushare Inc.