%index_footer
  .middle
    %p
      =link_to "よくある質問", faq_path
    .line-bold
    %p
      =link_to "運営会社について", company_path
    .line-bold
    %p
      =link_to "利用規約", terms_of_use_path
    .line-bold
    %p
      =link_to "プライバシーポリシー", privacy_policy_path
    .line-bold
    %p
      =link_to "キャンセルポリシー", cancellation_policy_path
    .line-bold
    %p
      =link_to "お問い合わせ", ask_path
    .line-bold
    %p
      =link_to "衛生ガイド", cooking_guide_path
  .index_bottom
    %p © Mogushare Inc.
