%header
  .mogura-icon
    =image_tag "mogura-moji.png"

  -if logged_in?
    .header_txt
      = link_to current_user.name, user_path(current_user.id)
    .header_img
      = mypage_profile_image(current_user)

  -else
    .signup_button
      = link_to '会員登録', signup_path
    .signin_button
      = link_to 'ログイン', login_path
