footer {
  background-color: #ffffff;
  display: flex;
  height: 130px;
  align-items:center;
  margin-top: auto;
}
.footer_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-icon{
  display: flex;
  align-items: center;
  font-size: 40px;
}
.footer-txt{
  display: flex;
  align-items: center;
  font-size: 25px;
}


index_footer {
  margin-top:100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: auto;
}

.middle{
  width: 80%;
  margin: 0 auto;
}

.index_bottom p {
  text-align: center;
}