body {
  background-color: #f8f7f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: HiraginoSans-W3;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 30px;
  letter-spacing: -0.1px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header-board{
  height: auto;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.board span {
  margin: 10px, 0;
}

.board p {
  text-align: left;
  word-wrap: break-word;
  margin-top: 0px;
}

.board.large {
  width:95%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.board.middle {
  width:80%;
}
.board.middle p {
  font-size: 25px;
}

.line {
  border: solid 0.5px #ebebeb;
}

p.comment {
  text-align: left;
  color: #999999;
  margin-bottom: 0px;
}

.txt_checkbox {
  display: flex;
}

label.checkbox {
  padding-left:   20px;
  transform: scale(2);
  display: flex;
  align-items: center;
}

.submit-field input, #session_email, #seller_official_name, #seller_address{
  width: 100%;
  height: 60px;
  border: solid 4px #ebebeb;
  margin-bottom: 30px;
}

.submit-field ::-webkit-input-placeholder{
  font-size: 35px;
}

.submit-button input{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #fd7700;
  font-size: 35px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.no_item {
  font-size: 40px;
  margin: 0 auto;
  color: #999999;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

p.ticket_title {
  text-align: left;
  font-weight: bold;
}
.ticket_info {
  display: flex;
  font-size: 25px;
  color: #999999;
}
.ticket_info i.fas:before {
  color: orange;
}
.board-img img {
  width: 90%;
}
.ticket-line {
  border: solid 3px #f8f7f2;
  border-style: dashed;
}
.jump-to-detail {
  display: flex;
  align-items:center;
  height: 120px;
}
.cook_info {
  display: flex;
  align-items: center;
}
.cook_info img {
  border-radius: 50%;
  width:  120px;
  height: 120px;
}
.cook_info span {
  font-size: 30px;
}

.show_more_button{
  width: auto;
  font-size: 35px;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  background-color: #fd7700;
  padding: 15px;
}

.img-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
p.must {
  color: orange
}
.mask {
  border-radius: 50%;
  width:  120px;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask-squre {
  width:  120px;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.color-none {
  background-color: #f8f7f2;
}

.next-button{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #fd7700;
  font-size: 35px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.add-button{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: solid 0.5px #fd7700;
  font-size: 35px;
  color: #fd7700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-images {
  display: flex;
}

.comment {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
}

div > .minus, .plus {
  padding-left: 20px;
}

.chat-board {
  display: flex;
}

.chat-board >div {
  padding-left: 30px;
}
.chat-board >div:nth-child(3) {
  padding-right: 20px;
  padding-left: 0px;
}

.chat-txt {
  display: flex;
  flex-direction: column;
}
.chat-txt span{
  text-align: left;
  margin-top: 10px;
  font-size: 25px;
}

.chat-txt span:first-child {
  font-weight: bold;
}

.chat-time {
  margin-left: auto;
}






/*——————–
 吹き出しを作る
——————–*/
/* 全体のスタイル */
.kaiwa {
  margin-bottom: 25px;
}
/* 左画像 */
.kaiwa-img-left {
  margin: 0;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: -70px;
}
/* 右画像 */
.kaiwa-img-right {
  margin: 0;
  float: right;
  width: 60px;
  height: 60px;
  margin-left: -70px;
}
.kaiwa figure img {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}
/* 画像の下のテキスト */
.kaiwa-img-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 15px;
}
/* 左からの吹き出しテキスト */
.kaiwa-text-right {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  margin-right: 12%;
  float: left;
}
/* 右からの吹き出しテキスト */
.kaiwa-text-left {
  position: relative;
  margin-right: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
  margin-left: 12%;
  float: right;
}
p.kaiwa-text {
  margin: 0 0 20px;
}
p.kaiwa-text:last-child {
  margin-bottom: 0;
}
/* 左の三角形を作る */
.kaiwa-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  left: -20px;
}
.kaiwa-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #eee;
  top: 15px;
  left: -19px;
}
/* 右の三角形を作る */
.kaiwa-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}
.kaiwa-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #9cd6e7;
  top: 15px;
  right: -19px;
}
/* 回り込み解除 */
.kaiwa:after,.kaiwa:before {
  clear: both;
  content: "";
  display: block;
}
