body {
  background-color: #f8f7f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: HiraginoSans-W3;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 30px;
  letter-spacing: -0.1px;
  text-decoration: none;
}

.board {
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.board span {
  margin: 10px, 0;
}

.board p {
  text-align: left;
  word-wrap: break-word;
  margin-top: 0px;
}

.board.large {
  width:95%;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
}
.board.middle {
  width:80%;
}
.board.middle p {
  font-size: 14px;
}

.line {
  border: solid 0.5px #ebebeb;
}

p.comment {
  text-align: left;
  color: #999999;
  margin-bottom: 0px;
}

.txt_checkbox {
  display: flex;
}

label.checkbox {
  padding-left:   20px;
  transform: scale(2);
  display: flex;
  align-items: center;
}

.submit-field input#search, input#session_password, #session_email{
  width: 100%;
  height: 60px;
  border: solid 4px #ebebeb;
}

.submit-field ::-webkit-input-placeholder{
  font-size: 35px;
}

.submit-button input{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: #fd7700;
  font-size: 35px;
  color: white;
}


.no_item {
  font-size: 40px;
  margin: 0 auto;
  color: #999999;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

p.ticket_title {
  text-align: left;
  font-weight: bold;
}
.ticket_info {
  display: flex;
  font-size: 25px;
  color: #999999;
}
.ticket_info i.fas:before {
  color: orange;
}
.board-img img {
  width: 90%;
}
.ticket-line {
  border: solid 3px #f8f7f2;
  border-style: dashed;
}
.jump-to-detail {
  display: flex;
  align-items:center;
  height: 120px;
}
.cook_info {
  display: flex;
  align-items: center;
}
.cook_info img {
  border-radius: 50%;
  width:  120px;
  height: 120px;
}
.cook_info span {
  font-size: 30px;
}

.show_more_button{
  width: auto;
  font-size: 35px;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  background-color: #fd7700;
  padding: 15px;
}
