.board.large
  %h1 キャンセルポリシー
  .line
  .board.middle.txt
    ■クック(投稿者)によるキャンセル
    %br
    クックは、もぐシェア内のコンテンツの実施前であれば、いつでもキャンセルが可能です。
    %br
    ただしその際は決済額の100%が、参加者であるメンバーに返金されます。
    %br
    %br
    ■メンバー(購入者)によるキャンセル
    %br
    %br
    クックが定めたコンテンツの実施日の前々日の23:59まで（以下「キャンセル期限」）はキャンセル可能です。
    %br
    その際は決済額の100%の返金が可能です。
    %br
    上記キャンセル期限を過ぎてのキャンセル希望の場合、原則的として、返金の受付はできません。
    %br
    個別の事情等がある場合に限り、クックとの個別のチャットでご相談下さい。
    %br
    クックが明示的に承諾または提示した場合に限り、個別のキャンセル規定が適用されます。
    %br
    なお、返金手続きは、クックがアプリ内にある「取引履歴」からキャンセル手続きを行い、その後メンバー側に自動で返金が行われることによって完了します。
    %br
    ※ユーザー間での問題解決が困難な場合、当社カスタマーサポートまでお問い合わせください。
    %br
    %br
    ご連絡先：mogushare.net@gmail.com
    %br
    %br
    受付時間：月曜～金曜 １０：００～１７：００
= render 'shared/footer'
