.board.large
  %h1 衛生ガイド
  .line
  .board.middle.txt
    食品を扱う際に気をつけるべき一般的な情報をまとめています。
    %br
    ダウンロードは
    %br
    =link_to "こちらから" , "cook-guide.pdf" , target: "_blank"
= render 'shared/footer'



