.white-container
  .top_img
    = image_tag "cook_top.JPG"
    %p.cook
      あなたの料理で
      %br
      誰かの食卓と笑顔を彩ろう
  .white_content
    .top_txt
      %p
        "もぐシェア"は
        %br
        子育て家庭の食卓を支える
        %br
        新しいカタチの地域コミュニティです
      %span
        詳細は
        = link_to "こちら", root_path, target: "_blank"
        から
      %span
        その中でも料理教室や"おすそわけ"の際に料理を作る側に回ってくれる方を"クック"と呼んでいます。
        %br
        %br
        「料理が好きで、自分の料理で誰かに喜んで欲しい」「自分のペースで仕事,活動がしたい」そんな人にオススメです。

  .gray_content
    .title
      %p クックの声
    .img_txt_2_column
      .img_content
        .user_img
          =image_tag "cook_voice1.jpg"
        .user_content
          %p コミュニティに参加して、周りの生活がより豊かに
      %p.small
        子どもが少し大きくなり落ち着いたタイミングで、地域でやりがいを見つけたり自分の好きな料理で自己実現できる場所だと思います。
      .img_content
        .user_img
          =image_tag "cook_voice2.jpg"
        .user_content
          %p 主婦の自分がしてきた料理が、こんなに誰かに喜んでもらえるなんて
      %p.small
        料理好き活かして子育て家庭の力になりたいと思っていた所、このもぐシェアの仕組みを見つけ「これだ！」と思いました。家庭優先で在宅でできるのが嬉しいです。

  .white_content
    .title
      %p 簡単3ステップで投稿~やり取りまで
    .tatenaga-box
      .use_content
        %p.title ①郵便番号で近所のコミュニティを検索し会員登録(無料)
        =image_tag "appflow1.png"
        %p 郵便番号を入力して近くにいる料理上手さんや、あなたの料理を食べたい子育て家庭と繋がれます
      .use_content
        %p.title ②タイムラインからおすそわけやイベント情報を投稿/確認
        =image_tag "appflow2.png"
        %p タイムライン上で"おすそわけ"や料理教室のチケットを投稿、ご近所さんに通知できます。もちろん参加するのもok！
      .use_content
        %p.title ③当日までに場所,時間をチャットで調整
        =image_tag "appflow3.JPG"
        %p アプリ内でできるチャットで、おすそわけや料理教室などの時間,場所などをやり取りします

  .gray_content
    .title
      %p "もぐシェア"の活動紹介
      .center
        %span 実はお隣さんが味噌作りの上手な人だったり、対面の家庭はあなたのお家の前を通って「いい匂いがしてくる、食べてみたい」と思っていたり。
        %br
        "もぐシェア"を通じ、身近だけど繋がらなかった人たちが可視化され繋がり、楽しみができます。
    .gallary-box.full
      =image_tag "cook_gallery1.JPG"
      =image_tag "cook_gallery2.JPG"

  .white_content
    .title
      %p よくある質問
    .faq-board
      %input{type: :checkbox, id: "q01"}
      %label{for:"q01", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p 料理の受け渡しなどコミュニティの活動の場所はどこですか？また活動に頻度などはありますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section01
        %p
          場所は頻度はクックの方ご自身が自由に設定できます。料理教室はご自宅や公共施設、"おすそわけ"なら自宅から徒歩,自転車圏内の小学校や保育園,駅付近などが、一般的な受け渡しの場所となっています。

      %input{type: :checkbox, id: "q02"}
      %label{for:"q02", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントやおすそわけの価格はどのくらいで設定しましょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section02
        %p 例えばおすそわけ会(子ども食堂)は大人500円子ども300円です。おすそわけは、クックが自由に設定します(原材料費＋α程度が一般的です)。
      %input{type: :checkbox, id: "q03"}
      %label{for:"q03", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p アレルギーは対応していますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section03
        %p "アレルギー対応"と銘打ったようなもの以外で対応は難しいので、アレルギーのある方は自己責任でお願いしています。
      %input{type: :checkbox, id: "q04"}
      %label{for:"q04", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p 補償などは大丈夫でしょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section04
        %p "もぐシェア"内での活動については最大3,000万までの保証も付くため、万一の事故の際に金銭的負担がクックに行くことは基本ありません。

    .large-button
      =link_to "まずはご近所のコミュニティを探す", signup_path

  .gray_content
    .title
      %p.smaller
        シェアして"もぐシェア"の
        %br
        仕組みをご近所で広げませんか？
    .social-button
      .facebook
        =image_tag "blank.jpg"
      .twitter
        =image_tag "blank.jpg"

<script src="http://bqworks.com/slider-pro/js/jquery.sliderPro.min.js"></script>
<link rel="stylesheet" href="http://bqworks.com/slider-pro/css/slider-pro.min.css"/>
:javascript
  $(document).ready(function() {
    $( '#slider-pro' ).sliderPro({
        width: '100%',
        height: 500,
        responsive: true,
        imageScaleMode: 'cover',
        slideDistance:0,
        arrows: true,
        autoHeight:false,
        buttons: false,
        fadeFullScreen:true,
        waitForLayers: true,
        autoplay: true
    });
  });

=render 'shared/footer'
/ = link_to "スマホで今すぐ会員登録", index_path
