.white-container
  .top_img
    = image_tag "cook_top.png"
    %p.cook
      あなたの料理で
      %br
      誰かの食卓と笑顔を彩ろう
  .white_content
    .top_txt
      %p
        "もぐシェア"は
        %br
        子育て家庭の食卓を支える
        %br
        新しいカタチの地域コミュニティです
      %span
        詳細は
        = link_to "こちら", root_path, target: "_blank"
        から
      %span
        その中でも料理教室や"おすそわけ"の際に料理を作る側に回ってくれる方を"クック"と呼んでいます。
        %br
        %br
        「料理が好きで、自分の料理で誰かに喜んで欲しい」「自分のペースで仕事,活動がしたい」そんな人にオススメです。

  .gray_content
    .title
      %p クックの声
    .img_txt_2_column
      .img_content
        .user_img
          =image_tag "cook_voice1.png"
        .user_content
          %p コミュニティに参加して、周りの生活がより豊かに
      %p.small
        子どもが少し大きくなり落ち着いたタイミングで、地域でやりがいを見つけたり自分の好きな料理で自己実現できる場所だと思います。
      .img_content
        .user_img
          =image_tag "cook_voice2.png"
        .user_content
          %p 主婦の自分がしてきた料理が、こんなに誰かに喜んでもらえるなんて
      %p.small
        料理好き活かして子育て家庭の力になりたいと思っていた所、このもぐシェアの仕組みを見つけ「これだ！」と思いました。家庭優先で在宅でできるのが嬉しいです。

  .white_content
    .title
      %p 使い方
    %div#slider-pro.slider-pro
      .sp-slides
        .sp-slide
          =image_tag "howcookuse1.png", class: "sp-image"
        .sp-slide
          =image_tag "howcookuse2.png", class: "sp-image"
        .sp-slide
          =image_tag "howcookuse3.png", class: "sp-image"
        .sp-slide
          =image_tag "howcookuse4.png", class: "sp-image"
        .sp-slide
          =image_tag "howcookuse5.png", class: "sp-image"
    .use_img_5_column
      .use_content
        %p.title 郵便番号で近くのコミュニティをチェック！
        =image_tag "howcookuse1.png"
        %p
      .use_content
        %p.title コミュニティの投稿を確認
        =image_tag "howcookuse2.png"
        %p
      .use_content
        %p.title 地域のコンテンツを購入
        =image_tag "howcookuse3.png"
        %p
      .use_content
        %p.title 当日までにチャットで調整
        =image_tag "howcookuse4.png"
        %p
      .use_content
        %p.title 当日参加したり、やり取りしたり
        =image_tag "howcookuse5.png"
        %p

  .gray_content
    .title
      %p "もぐシェア"の活動紹介
      .center
        %span 実はお隣さんが味噌作りの上手な人だったり、対面の家庭はあなたのお家の前を通って「いい匂いがしてくる、食べてみたい」と思っていたり。
        %br
        "もぐシェア"を通じ、身近だけど繋がらなかった人たちが可視化され繋がり、楽しみができます。
    .gallary-box.full
      =image_tag "cook_gallery1.png"
      =image_tag "cook_gallery2.png"

  .white_content
    .title
      %p よくある質問
    .faq-board
      %input{type: :checkbox, id: "q01"}
      %label{for:"q01", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p 料理の受け渡しなどコミュニティの活動の場所はどこですか？また活動に頻度などはありますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section01
        %p
          場所や頻度はクックの方ご自身が自由に設定できます。料理教室はご自宅や公共施設、"おすそわけ"なら自宅から徒歩,自転車圏内の小学校や保育園,駅付近などが、一般的な受け渡しの場所となっています。

      %input{type: :checkbox, id: "q02"}
      %label{for:"q02", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントやおすそわけの価格はどのくらいで設定しましょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section02
        %p 例えばおすそわけ会(子ども食堂)は大人500円子ども300円です。おすそわけは、クックが自由に設定します(原材料費＋α程度が一般的です)。
      %input{type: :checkbox, id: "q03"}
      %label{for:"q03", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p アレルギーは対応していますか？また補償などは大丈夫でしょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section03
        %p
          アレルギーのある方は「全て自己責任」と同意頂きもぐシェアに登録しているため、基本的に対応を考慮する必要はありません。万一「子どもがアレルギーなのですが...」と言われた場合、イベントやおすそわけへの参加拒否をして頂けます。
          なお"もぐシェア"内での活動については最大3,000万までの保証も付くため、万一の事故の際に金銭的負担がクックに行くことは基本ありません。
      %input{type: :checkbox, id: "q04"}
      %label{for:"q04", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベント時の持ち帰りや、おすそわけの場合、容器や袋,メニューについての指定はありますか？また一人分の分量なども指定はありますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section04
        %p
          もぐシェアは自発的,自由に活動頂く場なので、特に指定などはありません。容器については、多くの方が100均などで売っている使い捨て容器をご自身で用意されています。メニューについては生物などは常識的な範囲で避けて頂いています。
          %br
          量に関しては家庭それぞれで対応しようと思うとキリがないので、「自分の家」基準で皆さん設定されています。ただ"期待値の調整"として分かる範囲でグラム数や個数を書くなど配慮をしてあげると丁寧です。
      %input{type: :checkbox, id: "q05"}
      %label{for:"q05", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントや料理教室,おすそわけで、人気の料理などはありますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section05
        %p
          普段家では面倒で作らないもの(カジキの竜田揚げ)、組み合わせの発想がめずらしいもの(鶏の五目煮,キーマ風そぼろ)、子どもが野菜を取れるもの(野菜を細かく刻んだ餃子)などが喜ばれることが多いです。
          %br
          なお子育て家庭の困り事として、「ご飯やお味噌汁,冷凍していたハンバーグは用意できるけどもう
          1,2品野菜系の惣菜があると食卓が豊かで嬉しい」「先に子どもにお菓子以外のものを何か食べさせたい」といった声が多いので、そういうシーンで役に立つ料理が、料理教室やおすそわけで人気です。
      %input{type: :checkbox, id: "q06"}
      %label{for:"q06", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p "もぐシェア"の収益はどうやって成り立っていますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section06
        %p
          調味料メーカー等からの広告費や、"もぐシェア"のシステム利用料/保険加入の費用として決済額の10%をクックの方に手数料として頂いております。

    .large-button
      =link_to "まずはご近所のコミュニティを探す", signup_path

  .gray_content
    .title
      %p.smaller
        "もぐシェア"の仕組みを
        %br
        ご近所で広げませんか？
    .social-button
      .LINE
        .line-it-button{ data: { lang: 'ja', type: 'share-b', url: "https://mogushare.net/"}, style: "display: none;"}
      .facebook
        .fb-share-button{ data: {href: 'https://mogushare.net/', layout:'button_count', size: 'small'} }

<script src="http://bqworks.com/slider-pro/js/jquery.sliderPro.min.js"></script>
<link rel="stylesheet" href="http://bqworks.com/slider-pro/css/slider-pro.min.css"/>
:javascript
  $(document).ready(function() {
    $( '#slider-pro' ).sliderPro({
        width: '100%',
        height: 549,
        responsive: true,
        imageScaleMode: 'cover',
        slideDistance:0,
        arrows: true,
        autoHeight:false,
        buttons: false,
        fadeFullScreen:true,
        waitForLayers: true,
        autoplay: true
    });
    $(document).ready(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.12&appId=1896249914022367&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  });
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>


=render 'shared/footer'
