.board.large
  %h1 お住いの近くのコミュニティを郵便番号で検索
  .line
  .board.middle
    = form_tag signup_path, method: 'get' do
      %p.comment 郵便番号
      .submit-field
        = text_field_tag :search, params[:search], placeholder: "例：150-0013"
      %p 入力頂いた郵便番号に応じご近所のコミュニティをご案内します
      .submit-button
        = submit_tag "コミュニティを探す", name: nil

/ なんかすっごい微妙なとこ幼いとsubmitできてないからhtmlの組み方間違ってるよ
