.board.large
  %h1 プライバシーポリシー
  .line
  .board.middle.txt
    個人情報の取扱いについて
    %br
    %br
    株式会社ふらりーと（以下、「当社」といいます。）は、よりよいサービス提供のため、個人に関する情報をお預かりする場合があります。個人情報保護に関する法令を遵守し、安心して当社のサービスをご利用いただけるよう、以下の通り、当社における個人情報の取扱いについて（以下、「個人情報の取扱い」といいます。）を定めます。
    %br
    %br
    １．個人情報
    個人情報とは、氏名、住所、電話番号その他の記述等により個人を識別できるものをいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的に個人を識別できるものも個人情報に含まれます。個人情報にはご本人の個人情報に加え、ご家族ご友人等およびお届け先の個人情報等、お客様等を通じて間接的に取得したものも含まれます。また、要配慮個人情報（人種、信条、社会的身分、病歴、その他本人に対する不当な差別、偏見その他の不利益が生じないようにその取扱いに特に配慮を要する情報）については、取得に当たってご本人から同意を取得するなど、その取得、利用および提供にあたって、法令を遵守いたします。
    %br
    %br

    ２．個人情報の利用目的
    当社は、個人情報を以下の目的のために利用いたします。
    %br
    %br
    １．お客様に関する個人情報
    %br
    （１）当社および第三者の商品・権利・サービス等の販売、配送、支払いにかかる業務の遂行のため
    （２）当社および第三者の商品等の広告または宣伝のため
    （３）アンケートのお知らせ、サービス改善ヒアリング等のお願いを行うため
    （４）キャンペーン等の実施および当選の連絡、景品等の発送等を行うため
    （５）マーケティング活動およびマーケティングデータの調査統計分析のため
    （６）お客様情報管理、その他の各種連絡、対応管理等のため
    （７）製品やサービス等のサポートおよび問合せ等に対応するため
    （８）当社の商品・サービス等の開発、改善のため
    （９）取引先等より個人情報の取扱業務を委託された場合、委託された業務の遂行のため
    （１０）契約や法律等に基づく権利の行使や義務の履行のため
    （１１）その他当社の各サービスにおいて個別に定める目的のため
    （１２）その他の各種連絡、対応管理、関連資料の送付等
    %br
    %br
    ２．当社、取引先各社（個人を含む）、他社の役員・社員等に関する個人情報
    %br
    （１）業務上必要な諸連絡、協力、交渉、契約の履行、履行請求等のため
    （２）取引先情報管理、支払・収入処理のため
    （３）会社案内・事業報告書・会社年史等の記録物への掲載のため
    （４）当社のサービス、イベント等のご案内のため
    （５）アンケート協力依頼、その他各種統計資料作成のため
    （６）当社内に入場される場合、当社の営業秘密等の保護管理の観点からご本人を特定するため
    （７）当社の従業者および取引先の法令遵守状況確認のため
    （８）特定個人情報等については、当社の取引先のうちの個人事業主の方の場合に、報酬、料金、契約金および賞金等に関する支払調書作成事務のため

    当社は、個人情報をお預かりする際にお知らせした利用目的の合理的な範囲を超えて当該個人情報を利用いたしません。これらの目的以外に利用する必要が生じた場合は、事前にご本人にその旨を通知いたします。
    %br
    %br
    ３．業務委託先について
    当社は、商品・サービスの販売、関連するアフターサービス、新商品・サービスに関する情報のお知らせ、その他当社の事業遂行のために、当社の業務委託先に対して、最低限必要な情報に限り、個人情報を開示する場合があります。これら業務委託先に対しては、個人情報の保護に関する契約を締結し、業務委託先が契約を遵守するよう、必要かつ適切な管理および監督を行ないます。
    %br
    %br

    ４．個人情報の第三者提供について
    当社は、個人情報を適切に保護し、個人情報保護法その他の法令等により認められた場合を除き、ご本人からの同意なく、個人の識別が可能な状態で個人情報を第三者に開示、提供することはありません。
    %br
    %br

    ５．個人情報の共同利用について
    当社は、お客様等へのよりよいサービス提供のため、「２．個人情報の利用目的」に定める利用目的の範囲において、「１．個人情報」に定める個人情報のうち必要となる最小限の範囲のものについて、当社の親会社であるオイシックスドット大地株式会社と共同利用する場合があります。なお、当該共同利用の管理における責任者は、当社の個人情報保護管理責任者となります。
    %br
    %br

    ６．「個人情報の取扱い」の変更について
    当社は、法令等の変更や必要に応じて、いつでも事前の予告なく「個人情報の取扱い」を改定することがあります。この場合、当社は最新の「個人情報の取扱い」を当社サイト上に掲載いたします。当社は、ご本人が閲覧された当時の「個人情報の取扱い」の内容の如何にかかわらず、常に最新の「個人情報の取扱い」によりご本人の情報を取り扱いいたします。
    %br
    %br

    ７．個人情報の開示等に関するお問い合わせ
    当社における個人情報の開示等（利用目的の通知、開示、訂正、利用停止等）のご請求手続は、以下のとおりです。
    %br
    %br
    （１）開示等の求めの手続ができる方
    %br
    ・ご本人
    %br
    ・ご本人が未成年者または成年被後見人の場合はご本人の法定代理人
    %br
    ・開示等の求めの手続についてご本人が委任した代理人
    %br
    %br
    （２）開示等の求めの際の必要書類
    %br
    ①ご本人が手続きされる場合
    ・開示等申込書（印鑑登録証明書に登録された印鑑で押印）
    %br
    ・本人確認書類
    %br
    ・印鑑登録証明書
    %br
    %br
    ②代理人の方が手続をされる場合
    %br
    ・開示等申込書
    %br
    ・本人確認書類（ご本人様・代理人様分両方）
    %br
    ・委任状
    %br
    %br
    （３）開示等に関するお問い合わせ窓口
    株式会社ふらりーと 個人情報管理責任者
    %br
    %br
    （４）開示等の手数料
    個人情報の開示・利用目的の通知をご請求される場合、1回のご請求ごとに、1,000円（税込み）をいただきます。 切手の同封あるいは郵便小為替を同封にてお願いいたします。
    %br
    %br
    （５）開示等の通知
    開示の通知（不開示の理由の通知を含む）は、ご本人（代理人請求の場合は代理人）を受取人として、書留扱いで本人限定受取郵便によりご本人宛に発送します。
    %br
    %br
    ＜個人情報に関するお問い合わせ受付窓口＞
    %br
    株式会社ふらりーと 個人情報管理責任者
    %br
    Ｅメール：info@furari.me
    %br
    以上
    %br
    %br
    平成３０年４月１日制定

= render 'shared/footer'
