.white-container
  .top_img
    = image_tag "top.jpg"
    %p
      地域に子育ての
      %br
      新しい形の拠り所を
  .white_content
    .top_txt
      %p
        "もぐシェア"は
        %br
        子育て家庭の食卓を支える
        %br
        新しいカタチの地域コミュニティです
      %span
        地域の子育て家庭と料理上手さんが繋がり
        %br
        「おかずのおすそわけ」「料理教室」「(子ども食堂など)子連れで楽しめるイベント」といった様々な活動に参加できる地域コミュニティです。
        %br
        %br
        「料理が好きで、自分の料理で誰かに喜んで欲しい」
        %br
        「子どもが小さく毎日の料理が大変」
        %br
        %br
        そんな人たちが集まって、食と子育てを軸に助け合う仕組みです。

  .gray_content
    .title
      %p 選ばれる理由
    .img_txt_3_column
      .content
        =image_tag "reason1.jpg"
        %p.title 保険加入済みで最大3,000万まで補償！
        %p もぐシェア運営の(株)”ふらりーと”は生産物賠償責任保険に加入しており、万一の事故の際に最大3,000万円まで補償が出ます。
      .content
        =image_tag "reason3.jpg"
        %p.title 気軽に参加できるオープンな場作り
        %p おすそわけや料理教室を主催する人が料理を作って振る舞う”おすそわけ会(子ども食堂)”や料理好き同士で繋がる"もぐもぐ会"などを各地で開催しているため、オープンな場で出会い,繋がることもできます。
      .content
        =image_tag "reason2.jpg"
        %p.title 信頼できる地域団体との連携
        %p 行政や子育て支援団体,NPOと各地域で連携しイベントを共済するなど、地域に根ざしたコミュニティ作りを行っています。

  .white_content
    .title
      %p 利用者の声
    .img_txt_2_column
      .img_content
        .user_img
          =image_tag "member_voice.jpg"
        .user_content
          %p 「この日は夕飯のことを気にしないでいいや」がすごく嬉しいんです
      %p.small
        週2くらいで副菜を頼んだり、そこで繋がった方のお料理教室に参加したりしています。クックの方は月のおすそわけ日程を前もって教えてくれるので予定も立てやすいです。実家の母に頼るような感覚ですね。
      .img_content
        .user_img
          =image_tag "cook_voice2.jpg"
        .user_content
          %p 主婦の自分がしてきた料理が、こんなに誰かに喜んでもらえるなんて
      %p.small
        料理好き活かして子育て家庭の力になりたいと思っていた所、このもぐシェアの仕組みを見つけ「これだ！」と思いました。家庭優先で在宅でできるのが嬉しいです。
        %br
        ※「クック」については
        = link_to "こちら", cook_path, target: "_blank"


  .gray_content
    .title
      %p 使い方
    %div#slider-pro.slider-pro
      .sp-slides
        %p.title ①郵便番号で近所のコミュニティを検索し会員登録(無料)
        .sp-slide
          =image_tag "appflow1.png", class: "sp-image"
        .sp-slide
          =image_tag "appflow2.png", class: "sp-image"
        .sp-slide
          =image_tag "appflow3.JPG", class: "sp-image"
    .use_img_3_column
      .use_content
        %p.title 郵便番号で近くのコミュを検索
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .use_content
        %p.title コンテンツに参加
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .use_content
        %p.title 参加したり、やり取りしたり！
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。

  .white_content
    .title
      %p ギャラリー
    .gallary-box
      =image_tag "gallery1.JPG"
      =image_tag "gallery2.JPG"
    .gallary-box
      =image_tag "gallery3.JPG"
      =image_tag "gallery4.JPG"

  .gray_content
    .title
      %p よくある質問
    .faq-board
      %input{type: :checkbox, id: "q01"}
      %label{for:"q01", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントやおすそわけなどの活動について、場所や時間も決まっていますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section01
        %p 場所,時間は基本的にクックの方が決めたものに従って下さい。より詳細はチャットで直接調整できます。
      %input{type: :checkbox, id: "q02"}
      %label{for:"q02", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントやおすそわけの価格はどのくらいでしょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section02
        %p 例えば子ども食堂は大人500円子ども300円です。おすそわけは、クックが自由に設定します(原材料費＋α程度が一般的です)。
      %input{type: :checkbox, id: "q03"}
      %label{for:"q03", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p アレルギーは対応していますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section03
        %p "アレルギー対応"と銘打ったようなもの以外で対応は難しいので、アレルギーのある方は自己責任でお願いしています。
      %input{type: :checkbox, id: "q04"}
      %label{for:"q04", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p 補償などは大丈夫でしょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section04
        %p "もぐシェア"内での活動については最大3,000万までの保証が付きます。ご安心下さい。

    .large-button
      =link_to "まずはご近所のコミュニティを探す", signup_path

  .gray_content
    .title
      %p.smaller
        "もぐシェア"の仕組みを
        %br
        ご近所で広げませんか？
    .social-button
      .facebook
        =image_tag "blank.jpg"
      .twitter
        =image_tag "blank.jpg"
    .button-parent
      .eighty-button
        =link_to "運営に関わりたい方はこちら", ambassador_path, target: "_blank"

<script src="http://bqworks.com/slider-pro/js/jquery.sliderPro.min.js"></script>
<link rel="stylesheet" href="http://bqworks.com/slider-pro/css/slider-pro.min.css"/>
:javascript
  $(document).ready(function() {
    $( '#slider-pro' ).sliderPro({
        width: '100%',
        height: 549,
        responsive: true,
        imageScaleMode: 'cover',
        slideDistance:0,
        arrows: true,
        autoHeight:false,
        buttons: false,
        fadeFullScreen:true,
        waitForLayers: true,
        autoplay: true
    });
  });

=render 'shared/footer'
/ = link_to "スマホで今すぐ会員登録", index_path
