.white-container
  .top_img
    = image_tag "top.jpg"
    %p
      地域に子育ての
      %br
      新しい形の拠り所を
  .white_content
    .top_txt
      %p
        "もぐシェア"は
        %br
        子育て家庭の食卓を支える
        %br
        新しいカタチの地域コミュニティです
      %span
        例えば、料理を1品から「おすそわけ」し合ったり、子連れOKの料理教室や子ども食堂などコミュニティ内の活動に参加できます。
        %br
        %br
        「料理が好きで、自分の料理で誰かに喜んで欲しい」「子どもが小さく毎日の料理が大変」
        %br
        そんな人たちが集まって、食と子育てを軸に助け合う仕組みです。

  .gray_content
    .title
      %p 選ばれる理由
    .img_txt_3_column
      .content
        =image_tag "reason1.jpg"
        %p.title ここにタイトルです
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .content
        =image_tag "reason2.jpg"
        %p.title ここにタイトルです
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .content
        =image_tag "reason3.jpg"
        %p.title ここにタイトルです
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。

  .white_content
    .title
      %p 利用者の声
    .img_txt_2_column
      .img_content
        .user_img
          =image_tag "member_voice.png"
        .user_content
          %p こんにちはこんにちはこんにちはこんにちはこんにちはこんにちは(ねこ)
      .img_content
        .user_img
          =image_tag "cook_voice.png"
        .user_content
          %p こんにちはこんにちはこんにちはこんにちはこんにちはこんにちは(いぬ)
          クックについては
          = link_to "こちら", cook_path, target: "_blank"

  .gray_content
    .title
      %p 使い方
    %div#slider-pro.slider-pro
      .sp-slides
        %p.title 郵便番号で近くのコミュを検索
        .sp-slide
          =image_tag "appflow1.png", class: "sp-image"
        .sp-slide
          =image_tag "appflow2.png", class: "sp-image"
        .sp-slide
          =image_tag "appflow3.JPG", class: "sp-image"
    .use_img_3_column
      .use_content
        %p.title 郵便番号で近くのコミュを検索
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .use_content
        %p.title コンテンツに参加
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。
      .use_content
        %p.title 参加したり、やり取りしたり！
        =image_tag "blank.jpg"
        %p 今日はいい天気だと思います。今日はいい天気だと思います。今日はいい天気だと思います。

  .white_content
    .title
      %p ギャラリー
    .gallary-box
      =image_tag "gallery1.JPG"
      =image_tag "gallery2.JPG"
    .gallary-box
      =image_tag "gallery3.JPG"
      =image_tag "gallery4.JPG"

  .gray_content
    .title
      %p よくある質問
    .faq-board
      %input{type: :checkbox, id: "q01"}
      %label{for:"q01", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p おすそわけは週何回でしょうか？場所と時間も決まっていますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section01
        %p おすそわけする方が好きな頻度で行います。場所,時間は郵便番号で繋がれるご近所さんと直接詳細を決めることができます。
      %input{type: :checkbox, id: "q02"}
      %label{for:"q02", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p イベントやおすそわけの価格はどのくらいでしょうか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section02
        %p 例えばおすそわけ会(子ども食堂)は大人500円子ども300円です。おすそわけは、クックが自由に設定します(原材料費＋α程度が一般的です)。
      %input{type: :checkbox, id: "q03"}
      %label{for:"q03", class: "question-section"}
        .faq-icon
          %i.fas.fa-search
        .question
          %p アレルギーは対応していますか？
        .faq-icon
          %i.fas.fa-plus-circle
      .answer-section03
        %p "おすそわけ"の範疇で対応は難しいので、アレルギーのある方は自己責任でお願いしています。

    .large-button
      =link_to "まずはご近所のコミュニティを探す", signup_path

  .gray_content
    .title
      %p.smaller
        "もぐシェア"の仕組みを
        %br
        ご近所で広げませんか？
    .social-button
      .facebook
        =image_tag "blank.jpg"
      .twitter
        =image_tag "blank.jpg"
    .button-parent
      .half-button
        =link_to "運営に関わりたい方はこちら", ambassador_path, target: "_blank"

<script src="http://bqworks.com/slider-pro/js/jquery.sliderPro.min.js"></script>
<link rel="stylesheet" href="http://bqworks.com/slider-pro/css/slider-pro.min.css"/>
:javascript
  $(document).ready(function() {
    $( '#slider-pro' ).sliderPro({
        width: '100%',
        height: 549,
        responsive: true,
        imageScaleMode: 'cover',
        slideDistance:0,
        arrows: true,
        autoHeight:false,
        buttons: false,
        fadeFullScreen:true,
        waitForLayers: true,
        autoplay: true
    });
  });

=render 'shared/footer'
/ = link_to "スマホで今すぐ会員登録", index_path
