.white-container
  .top_img
    = image_tag "vision_top.png"
    %p.vision
      誰かの「困った」を
      %br
      皆で支え合える世の中に
  .white_content
    .top_txt
      %p
        もぐシェアは
        %br
        "地域に子育ての新しい形の拠り所"
        %br
        を作り「困った」を皆で支え合う
        %br
        暮らしやすい社会を実現します。

  .gray_content
    .title
      %p 子育て環境の変化
      .top_txt.sub
        %span
          子育て家庭の置かれる環境は、働き方や女性の社会進出に応じて変化しています。
          %br
          ”孤育て”や”ワンオペ育児”という言葉が生まれた背景、そしてもぐシェアが目指す子育てのあり方を図解していきます。
    .img_txt_3_column
      .content.none-radius
        %p.title.large
          子育て1.0：「地縁」「血縁」を軸にした拠り所
        =image_tag "blank.png"
        %p
          高度経済成長期まで、地域にいるご近所さんや親戚が子育て家庭の拠り所として機能していました。
          %br
          その拠り所を前提に、親が子育てをする生活が成り立っていました。
      .content.none-radius
        %p.title.large 子育て2.0："孤育て","ワンオペ育児"の誕生
        =image_tag "blank.png"
        %p
          20世紀終盤から現代に至るまで、特に都会では核家族化や近隣付き合いの減少を背景に従来の地縁や血縁を軸にした拠り所が機能しなくなりました。
          %br
          %br
          一方で女性の社会進出が当たり前の時代にも関わらず、「育児＝母親のもの」という価値観が強く残り、
          %br
          「誰かに頼っちゃいけない」「助けての一言が言えない」そんな悩みを抱える家庭が増えています。
          %br
          %br
          こうして拠り所が無くなり、また子育てを頼ってはダメというプレッシャーが
          %br
          ”孤育て”や”ワンオペ育児”という言葉が生まれた背景にあるのではないでしょうか。

      .content.none-radius
        %p.title.large 子育て3.0：もぐシェアが目指す新しい拠り所
        =image_tag "blank.png"
        %p
          しかし血が繋がって無くても、また本当に隣近所でなくても、「誰かの役に立ちたい」「自分が子育てを経験し大変だったからサポートしたい」
          %br
          とあなたの身近で思っている人はたくさんいます。
          %br
          %br
          その表に出てきにくい、けれども色んな世代の人たちの声と想いを、ウェブとリアルな場の両方で可視化しコミュニティにすること、
          %br
          そして子育て家庭の新しい拠り所にすることが
          %br
          私達がもぐシェアを通じてやりたいことです。
  .white_content
    .top_txt.sub
      %p
        安心できる繋がりをもとに、「困った！」
        %br
        を支え合い、子育て世代・地域で
        %br
        やりがいを見つけたい人たち、
        %br
        その双方が笑顔で暮らせる社会を目指します。
    .button-parent
      .half-button
        =link_to "無料で登録する", signup_path
      .half-button
        =link_to "もぐシェアの中の人たちを見る", ambassador_path

=render 'shared/footer'
/ = link_to "スマホで今すぐ会員登録", index_path
