通知内容は
「〇〇さん もぐシェア運営事務局です。▼▼さんが〇〇さんのチケットを以下の内容で購入しました。
・肉じゃが 2人分
・カレー 3人分
以下のurlから確認し、〇〇さんからチャットを初めて下さい。
urlurlurlurlurlurlurlurl

なお最初のメッセージの際に
・注文内容(何を何人分)
・やり取りの時間
・やり取りの場所
の3点を確認頂くと間違いも少なくなります。

よろしくお願い致します。」
